<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Ahsay PHP Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="/tmp/report-tap.tap"/>
        <log type="junit" target="/tmp/report-junit.xml"/>
        <log type="coverage-html" target="/tmp/report-html" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-text" target="php://stdout" showOnlySummary="true" showUncoveredFiles="true" />
        <log type="coverage-clover" target="/tmp/report-clover.xml"/>
    </logging>

</phpunit>
